html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar  main";
  grid-template-rows: 48px 1fr;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
}

.sidebar-collapse {
  grid-template-columns: 48px 1fr;
}

/* Header */

.header {
  background-color: #0078d7;
  grid-area: header;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-item {
  color: #fff;
}

.main {
  grid-area: main;
  padding: 10px;
}

/* Sidebar */

.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  overflow: hidden;
}

.menu-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.menu-btn:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 1px #ededed;
}

.menu-icon {
  height: 20px;
  width: 20px;
  fill: #0078d7;
}

.icon-wrapper {
  height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.sidebar-icon {
  height: 20px;
  width: 20px;
  fill: #767678;
}

.lists {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.list {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #34373d;
}

.list:hover {
  background-color: #fafafa;
}

.list-title {
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
}

.new-list-wrapper {
  display: flex;
}

.add-icon {
  height: 20px;
  width: 20px;
  fill: #0078d7;
}

.new-list-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.input-new-list {
  border: 0;
  color: #34373d;
  font-size: 1rem;
  outline: 0;
  background-color: transparent;
  height: 100%;
}

.input-new-list::placeholder {
  color: #0078d7;
}

/* Tasks */

.tasks-header {
  color: #34373d;
  margin-bottom: 10px;
}

.list-name {
  font-size: 1rem;
}

.date {
  font-size: 0.8rem;
  font-weight: 200;
}

.task-item {
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 1rem;
}

.task-item:hover {
  background-color: #f5f5f5;
}

.task-title {
  color: #34373d;
  font-size: 1rem;
}

.input-new-task {
  border: 0;
  border-bottom: 1px solid #f5f5f5;
  color: #34373d;
  cursor: default;
  font-size: 1rem;
  height: 48px;
  outline: 0;
  padding: 0 1rem;
  width: 100%;
}

.input-new-task::placeholder {
  color: rgba(255, 42, 104, 1);
}
