body,
h1,
h2 {
	margin: 0;
}


/* Main */

.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}


/* Header */

.main-header {
	background: url(images/bg2.jpg) center/cover;
}

.color-overlay {
	background: linear-gradient(to right, rgba(255, 94, 58, .4), rgba(255, 42, 104, .4));
	padding: 1rem;
}

.header-content {
	display: flex;
	flex-direction: column;
	height: 118px;
	justify-content: flex-end;
	color: #fff;
}

.h1 {
	font: 2rem/1.2 Karla;
}

.h2 {
	font: 1.2rem/1.4 Karla;
}


/* Tasks */

.tasks {
	overflow-y: auto;
}

.task-item {
	align-items: center;
	border-bottom: 1px solid #e6e6e6;
	color: #3F3F3F;
	display: flex;
	height: 47px;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: default;
}

.task-item:hover {
	background-color: #e6e6e6;
}

.task-title {
	font: 1rem/1.2 Karla;
	white-space: nowrap;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.input-new-task {
	border: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font: 1rem/1.2 Karla;
	min-height: 48px;
	padding: 0 1rem 0 1rem;
	cursor: default;
}

::-webkit-input-placeholder {
	color: #000000;
}

::-moz-placeholder {
	color: #000000;
}

:-moz-placeholder {
	color: #000000;
}

:-ms-input-placeholder {
	color: #000000;
}