body,
h1,
h2 {
	margin: 0;
}


/* Main */

.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}


/* Header */

.main-header {
	background: url(images/bg2.jpg) center/cover;
}

.color-overlay {
	background: linear-gradient(to right, rgba(255, 94, 58, .4), rgba(255, 42, 104, .4));
	padding: 1rem;
}

.header-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 118px;
	justify-content: flex-end;
}

.h1 {
	font: 2rem/1.2 Karla;
}

.h2 {
	font: 1.2rem/1.4 Karla;
}


/* Tasks */

.tasks {
	overflow-y: auto;
}

.task-item {
	align-items: center;
	border-bottom: 1px solid #f5f5f5;
	cursor: default;
	display: flex;
	height: 47px;
	padding: 0 1rem 0 1rem;
}

.task-item:hover {
	background-color: #f5f5f5;
}

.task-title {
	color: #34373d;
	font: 1rem/1.2 Karla;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.input-new-task {
	border-color: solid #f5f5f5;
	border-width: 0 0 1px 0;
	color: #34373d;
	cursor: default;
	font: 1rem/1.2 Karla;
	min-height: 48px;
	outline: 0;
	padding: 0 1rem 0 1rem;
}

::-webkit-input-placeholder {
	color: rgba(255, 42, 104, 1);
}

::-moz-placeholder {
	color: rgba(255, 42, 104, 1);
}

:-moz-placeholder {
	color: rgba(255, 42, 104, 1);
}

:-ms-input-placeholder {
	color: rgba(255, 42, 104, 1);
}